<html>
<head>
    <title>Sign Up</title>
</head>

<body>
    <form action="#" method="post">
        <input type="image" name="image" />
        <input type="file" name="imagefile" />
        <input type="text" name="username" placeholder="User Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="text" name="email" placeholder="Email Address" />
        <input type="text" name="fullname" placeholder="Full Name" />
        <textarea name="bio" placeholder="Bio" />
        <input type="submit" name="submit" />
        <label name="msg">{{ message }}</label>
    </form>
</body>
</html>