<html>
<head>
    <title>Sign Up</title>
</head>

<body>
    <form action="/signup" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="text" name="username" placeholder="User Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="text" name="email" placeholder="Email Address" />
        <input type="text" name="fullname" placeholder="Full Name" />
        <input type="text" name="bio" placeholder="Bio" ></textarea>
        <input type="submit" name="submit" />
    </form>
</body>
</html>