<html>
<head>
    <title>Update Profile</title>
</head>

<body>
    <form action="/profile" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="text" name="username" placeholder = {{ username }} />
        <input type="password" name="password" placeholder="Password" />
        <input type="text" name="email" placeholder={{ email }} />
        <input type="text" name="fullname" placeholder= {{ fullname }} />
        <textarea name="bio" placeholder= {{ bio }} ></textarea>
        <input type="submit" name="submit" />
    </form>
</body>
</html>